<h2 mat-dialog-title>Fonte dos Dados</h2>
<mat-dialog-content class="mat-typography" align="justify">
  <h3><a href="http://inep.gov.br/">INEP</a></h3>
  <p>Foram retirados as seguintes bases de dados do INEP:<br>
    <br>
    Indicadores de qualidade e seus respectivos anos:
    </p>

  <h3 style="font-weight: bold;">CPC:</h3>
  <h5>Definição segundo o INEP:</h5>
  <p>O CPC é um indicador de qualidade que avalia os cursos de graduação. Seu cálculo e sua divulgação ocorrem no ano seguinte ao da realização do Enade, com base na avaliação de desempenho de estudantes, no valor agregado pelo processo formativo e em insumos referentes às condições de oferta – corpo docente, infraestrutura e recursos didático-pedagógicos.</p>

  <p>Ano dos dados utilizados: 2019</p>
  <a href="http://download.inep.gov.br/educacao_superior/enade/notas_tecnicas/2019/NOTA_TECNICA_N_58-2020_CGCQES-DAES_Metodologia_de_calculo_do_CPC_2019.pdf">Mais informações</a>
  
  <h3 style="font-weight: bold; margin-top: 5px;">IGC:</h3>
  <h5>Definição segundo o INEP:</h5>
  <p align="justify">O IGC é um indicador de qualidade que avalia as instituições de educação superior. Seu cálculo é realizado anualmente e leva em conta os seguintes aspectos: <br>
    <li>média dos CPCs do último triênio, relativos aos cursos avaliados da instituição, ponderada pelo número de matrículas em cada um dos cursos computados;</li>
    <li>média dos conceitos de avaliação dos programas de pós-graduação stricto sensu atribuídos pela Coordenação de Aperfeiçoamento de Pessoal de Nível Superior (CAPES) na última avaliação trienal disponível, convertida para escala compatível e ponderada pelo número de matrículas em cada um dos programas de pós-graduação correspondentes, conforme os dados oficiais da CAPES;</li>
    <li>distribuição dos estudantes entre os diferentes níveis de ensino, graduação ou pós-graduação stricto sensu, excluindo as informações do item II para as instituições que não oferecerem pós-graduação stricto sensu.</li>
  </p>
  <p>Ano dos dados utilizados: 2019</p>
  <a href="http://download.inep.gov.br/educacao_superior/enade/notas_tecnicas/2019/NOTA_TECNICA_N_59-2020_CGCQES-DAES_Metodologia_de_calculo_do_IGC_2019.pdf">Mais informações</a>

  <h3 style="font-weight: bold; margin-top: 5px;">IDD:</h3>
  <h5>Definição segundo o INEP:</h5>
  <p>O IDD é um indicador de qualidade que busca mensurar o valor agregado pelo curso ao desenvolvimento dos estudantes concluintes, considerando seus desempenhos no Enade e no Exame Nacional do Ensino Médio (Enem), como medida proxy (aproximação) das suas características de desenvolvimento ao ingressarem no curso de graduação avaliado. Para que um curso tenha o IDD calculado, é preciso que ele atenda às seguintes condições:
    <li>possuir no mínimo dois estudantes concluintes participantes do Enade com dados recuperados da base de dados do Enem no período entre o ano de ingresso no curso avaliado e os três anos anteriores;</li>
    <li>atingir 20% do total de estudantes concluintes participantes do Enade com dados recuperados da base de dados do Enem.</li>
  </p>
  
  <p>Ano dos dados utilizados: 2019</p>
  <a href="http://download.inep.gov.br/educacao_superior/enade/notas_tecnicas/2019/NOTA_TECNICA_N_34-2020_CGCQES-DAES_Metodologia_de_calculo_do_IDD_2019.pdf">Mais informações</a>

  <h3 style="font-weight: bold; margin-top: 5px;">ENADE</h3>
  <h5>Definição segundo o INEP:</h5>
  <p>O Exame Nacional de Desempenho dos Estudantes (Enade) avalia o rendimento dos concluintes dos cursos de graduação em relação aos conteúdos programáticos previstos nas diretrizes curriculares dos cursos, o desenvolvimento de competências e habilidades necessárias ao aprofundamento da formação geral e profissional, e o nível de atualização dos estudantes com relação à realidade brasileira e mundial.</p>
  <p>Ano dos dados utilizados: 2019</p>
  <a href="http://download.inep.gov.br/educacao_superior/enade/notas_tecnicas/2019/NOTA_TECNICA_N_5-2020_CGCQES-DAES_Metodologia_de_calculo_do_Conceito_Enade_2019.pdf">Mais informações</a>

  <h3 style="font-weight: bold; margin-top: 5px;">Censo da Educação Superior</h3>
  <h5>Definição segundo o INEP:</h5>
  <p>O Censo da Educação Superior, realizado anualmente pelo Inep, é o instrumento de pesquisa mais completo do Brasil sobre as instituições de educação superior (IES) que ofertam cursos de graduação e sequenciais de formação específica, além de seus alunos e docentes.</p>
  <a href="https://www.gov.br/inep/pt-br/areas-de-atuacao/pesquisas-estatisticas-e-indicadores/censo-da-educacao-superior">Mais informações</a>

  <p style="margin-top: 5px;">Ano dos dados utilizados: 2020</p>

  <p>Obs¹: Os dados apresentados são os mais recentes disponibilizados no portal de dados abertos do INEP, órgão divulgador desses dados. <br>
    Obs²: Alguns dados podem estar ausentes pois nem todos os cursos são avaliados todos os anos. Lista dos ciclos avaliativos do <a href="https://www.gov.br/inep/pt-br/areas-de-atuacao/avaliacao-e-exames-educacionais/enade">ENADE</a>
  </p>

  <p></p>

  <p>Tabela de referência entre Contínuo e Faixa, definida pelo próprio INEP:</p>

  <img src="../assets/tabela_inep.png" alt="">

  
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Fechar</button>
</mat-dialog-actions>