:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ::ng-deep{
    .mat-form-field-appearance-outline .mat-form-field-outline-thick {
      color: #1976d2 !important;
    }
    .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
      color: #1976d2 !important;
    }
    .mat-form-field.mat-focused .mat-form-field-label{
      color: #1976d2 !important;
      font-weight: bold;
    }
    body{
      display: flex !important;
      justify-content: center !important;
    }

    .spanNoDataFound{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      font-size: large;
      font-weight: bold;
      color: #888;
      .noDataFoundIcon{
        margin-left: 5px;
      }
    }

    .spinner-container{
      width: 1152px;
      height: 451px;
      display: flex;
      justify-content: center;
      margin-top: 5%;
    }
    .mat-progress-spinner circle, .mat-spinner circle {
      stroke: #1976d2;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  .div-title{
    display: flex;
    justify-content: center;
    color: #1976d2;
    width: 100%;
    margin-top: 25%;
    margin-bottom: 10%;
    .title{
      font-size: 100px;
      font-weight: bold;
    }
    .icon-span{
      font-size: 100px;
      margin-top: -3%;
      margin-right: 10%;
    }
  }
  
 
  .div-select{
    width: 100%;
    display: flex;
    justify-content: center;
    
   
    .select{
      width: 40%;
    }
    
    .btn-search{
      margin-left: 2%;
      background-color: #1976d2;
      color: white;
      font-weight: bold;
      transition: transform 300ms, background-color 300ms;
      animation: pulse 200ms;
    }
    .btn-search:hover{
      transform: scale(1.05);
      background-color: #258df5;
    }
    .btn-search:active{
      transform: scale(0.95);
      animation: none;
    }
    @keyframes pulse {
      from{
        box-shadow: #258df5 0 0 0;
      }
      to{
        box-shadow: #258df5 0 0 22px;
      }
    }
  }

  .iesSelected{
    border: 1px solid #1976d2;
    border-radius: 10px;
    width: 90%;
    min-height: 251px;
    background-color: white;
    .closeIesSeleted{
      position: relative;
      box-shadow: none;
      left: 95%;
      top: 1%;
      background-color: transparent;
      color: #1976d2;
      font-weight: bold;
    }
  }
  
  .fab-btn-info{
    color: white;
    background-color: #1976d2;
    position: fixed;
    bottom: 20px;
    right: 30px;
    align-items: center;
    // .iconInfo{
    //   font-size: 40px;
    //   margin-top: -14px;
    //   margin-left: -13px;
    // }
  }

  p {
    margin: 0;
  }
  

  .content {
    display: flex;
    // margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5%;
    height: 100%;
    width: 120%;
  }

  .card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 90px;
    width: 200px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }


  .github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
  }

  .github-star-badge:hover {
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    border-color: rgba(27,31,35,.35);
    background-position: -.5em;
  }

  .github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }